#wrapper {
    width: 960px;
    background-color: gainsboro;
}

.marginCenter {
    margin-right: auto;
    margin-left: auto;
}

.displayInline {
    display: inline;
}

.floatLeft {
    float: left;
}

#top {
    height: 135px;
    line-height: 135px;
}

#logo {
    height: 100px;
    width: auto;
}
.logoPic {
    height: 100px;
    width: auto;
}

.grSmall {
    width: 325px;
    padding-left: 19px;
    padding-right: 19px;
}

.grBig {
    width: 545px;
    padding-left: 24px;
    padding-right: 24px;
}
.grFont {
    line-height: 27px;
    font-size: 16px;
}

.clearMargin {
    margin: 0px;
}

.clearFix {
    clear: both;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

.textJustify {
    text-align: justify;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.img {
    position: relative;
    height: 215px;
    width: auto;
    padding-top: 19px;
}

.borderOutside {
    border: solid black 1px;
}

.marginTop {
    margin-top: 50px;
}

